
@{
    ViewBag.Title = "Check_g3";
    Layout = "E:/New folder/march08/Views/Shared/_mylayout.cshtml";
}

<h2>Index with Layout</h2>

<hr />
<div>
   @* @{
        Html.RenderPartial("_CommomHeading");

    }*@
   @Html.Partial("_CommonHeading");
</div>